/**
ScaleDiagram Tokens Referenced:

--ScaleDiagram-text-color
--ScaleDiagram-line-color
--ScaleDiagram-circle-color
*/

.scale {
	--ScaleDiagram-text-color-local: var(--ScaleDiagram-text-color, #1d1d1d);
	--ScaleDiagram-line-color-local: var(--ScaleDiagram-line-color, #5f5f5f);
	--ScaleDiagram-circle-color-local: var(--ScaleDiagram-circle-color, #1d1d1d);

	> * {
		width: 100%;
	}

	.scale__illustration {
		list-style: none;
		display: grid;
		padding: 0;
		margin: 0 0;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background: var(--ScaleDiagram-line-color-local);
		}

		li {
			display: flex;
			justify-content: center;
			z-index: 1;
			&:first-child {
				justify-content: flex-start;
			}
			&:last-child {
				justify-content: flex-end;
			}
		}

		circle:first-of-type {
			fill: var(--ScaleDiagram-circle-color-local);
		}

		line {
			stroke: var(--ScaleDiagram-line-color-local);
		}
	}

	.scale__descriptions {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		list-style: none;

		padding: 0;
		margin: 0;

		> li[data-option-text] {
			flex: 1 0;
			color: var(--ScaleDiagram-line-color-local);
			text-align: center;
			font-size: var(--font-size-body);
			line-height: calc(24 / 14);

			&[aria-hidden='false'] {
				color: var(--ScaleDiagram-text-color-local);
			}

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}

			> div:not(:first-child) {
				font-size: var(--font-size-subtext);
				line-height: calc(20 / 12);
			}

			&[data-selected='true'] > div:first-child {
				font-weight: var(--font-bold);
			}

			&[data-selected='false'] > div:not(:first-child) {
				display: none;
			}
		}
	}
}
